<div class="about">
	<section class="banner">
		<div class="banner-title">
			<h1>Welcome to CUNY Books!</h1>
			<div class="banner-description">
				<p class="lead">CUNY Books is a place where all CUNY students can find affordable textbooks from their fellow students. Students can buy or sell textbooks with other students in their campus or other CUNY colleges.</p>
			</div>
		</div>
	</section>
	<section class="team">
		<div class="developers">
			<h1>Developers</h1>
		</div>

		<!-- carousel -->
      	<div class="carousel slide" data-ride="carousel" id="member-carousel">
        	<!-- Carousel Indicators -->
        	<ol class="carousel-indicators">
	          <li data-target="#member-carousel" data-slide-to="0" class="active"></li>
	          <li data-target="#member-carousel" data-slide-to="1"></li>
	          <li data-target="#member-carousel" data-slide-to="2"></li>
	          <li data-target="#member-carousel" data-slide-to="3"></li>
	        </ol>
        
       		<!-- Carousel Slides  -->
        	<div class="carousel-inner">
        
	        	<!-- Slide 1 -->
	          	<div class="item active">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/smiley.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Name</p>
	                  		<p class="member-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</p>
	                	</div>
	                </div>
	            </div>
	             
	            <!-- Slide 2 -->
	          	<div class="item">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/smiley.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Name</p>
	                  		<p class="member-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</p>
	                	</div>
	                </div>
	            </div>

	            <!-- Slide 3 -->
	          	<div class="item">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/smiley.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Name</p>
	                  		<p class="member-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</p>
	                	</div>
	                </div>
	            </div>

	            <!-- Slide 4 -->
	          	<div class="item">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/smiley.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Name</p>
	                  		<p class="member-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</p>
	                	</div>
	                </div>
	            </div>
        	</div>
        
        	<!-- Carousel Buttons Next/Prev -->
        	<a data-slide="prev" href="#member-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        	<a data-slide="next" href="#member-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
    	</div>
	</section>
</div>
