<div class="about">
	<section class="banner">
		<div class="banner-title">
			<h1>Welcome to CUNY Books!</h1>
			<div class="banner-description">
				<p class="lead">CUNY Books is a place where all CUNY students can find affordable textbooks from their fellow students. Students can buy or sell textbooks with other students in their campus or other CUNY colleges.</p>
			</div>
		</div>
	</section>
	<section class="team">
		<div class="developers">
			<h1>Developers</h1>
		</div>

		<!-- carousel -->
      	<div class="carousel slide" data-ride="carousel" id="member-carousel">
        	<!-- Carousel Indicators -->
        	<ol class="carousel-indicators">
	          <li data-target="#member-carousel" data-slide-to="0" class="active"></li>
	          <li data-target="#member-carousel" data-slide-to="1"></li>
	          <li data-target="#member-carousel" data-slide-to="2"></li>
	          <li data-target="#member-carousel" data-slide-to="3"></li>
	        </ol>
        
       		<!-- Carousel Slides  -->
        	<div class="carousel-inner">
        
	        	<!-- Slide 1 -->
	          	<div class="item active">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/asefaw.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Asefaw Mekuria</p>
	                  		<p class="member-intro"> Experienced software and database developer with tested strengths in understanding of object-oriented designed and cross-platform programming.Excel at effective multitasking and meeting demanding project deadlines in goal-driven environments.Possess strong organization and administrative skills with ability to quickly learn new technologies.</p>
	                	</div>
	                </div>
	            </div>
	             
	            <!-- Slide 2 -->
	          	<div class="item">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/yahya.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Yahya Mused</p>
	                  		<p class="member-intro">I have had a breadth of coding experience during my time in college and internships. Whether I was constructing complex data structure and algorithm, writing pseudo code, analyzing complexities, simulating computer architecture, creating web application, or even creating an Android game application, coding has been a love of mine. My main field of interest is Software Engineering with a focus on Database Management (DBM). I see data as the currency of our time. I enjoy software engineering and software development and my expertise is with Java and C++. I pride myself in finding the optimal time/space complexities for the problem at hand. </p>
	                	</div>
	                </div>
	            </div>

	            <!-- Slide 3 -->
	          	<div class="item">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/seung.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Seung A Jang</p>
	                  		<p class="member-intro">- Member of selective professional development program designed to teach industry-informed technical skills to prepare participants for careers in software engineering, development, and design

- Complete intensive Full Stack Web Development technical curriculum with focus on design, implementation, testing and deployment of applications

- Participate in several tech-related networking events, professional development workshops, hackathons, and other tech industry events</p>
	                	</div>
	                </div>
	            </div>

	            <!-- Slide 4 -->
	          	<div class="item">
	            	<div class="row">
	                	<div class="col-md-1 col-md-offset-3">
	                  		<img class="img-circle" src="/images/andy.jpg" style="width: 150px; height:150px;">
	                	</div>
	                	<div class="col-md-7 col-md-offset-1">
	                		<p class="lead">Andy Yu</p>
	                  		<p class="member-intro">- Member of selective professional development program designed to teach industry-informed technical skills to prepare participants for careers in software engineering, development, and design

- Complete intensive Full Stack Web Development technical curriculum with focus on design, implementation, testing and deployment of applications

- Participate in several tech-related networking events, professional development workshops, hackathons, and other tech industry events</p>
	                	</div>
	                </div>
	            </div>
        	</div>
        
        	<!-- Carousel Buttons Next/Prev -->
        	<a data-slide="prev" href="#member-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        	<a data-slide="next" href="#member-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
    	</div>
	</section>
</div>
