
<!-- Password Recovery Page -->                    
<div class="forgot-content">
	{{#if status}}
        <div class="alert alert-success">
          <strong>{{status.title}}</strong> {{status.msg}}
        </div>
    {{/if}}
    <div class="forgot-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h2>Forgot your password?</h2>
                            <p>Enter the email address associated with your account:</p>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/forgot" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email..." class="form-control">
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>