<div class="container">
<<<<<<< HEAD
=======
	{{#if status}}
        <div class="alert alert-success">
          <strong>{{status.title}}</strong> {{status.msg}}
        </div>
    {{/if}}
>>>>>>> 43ad0b8441b965573a735ba1bee9cf69a15b1f3e
	
	<form role="form" action="/forgot" method="post" class="login-form">
		<div>
			<h2>Password Recovery</h2>
		</div>
	    <div class="form-group">
	        <label class="sr-only" for="form-email">Email</label>
	        <input type="email" name="email" id="email" placeholder="Email..." class="form-control">
	    </div>
	    <button type="submit" class="btn">Reset Password</button>
	</form>
</div>