<div class="container">

    <div class="alert alert-success">
        {{#if name}}
            <p>The current user login is: {{name}}</p>
        {{else}}
            <p>You are not login yet. </p>
        {{/if}}
    </div>
    
	<div class="jumbotron">
        <h1 class="display-3">Welcome to Cuny Books</h1>
        <p class="lead">Cuny books is a place where all cuny studenst can find affordable textbooks from their fellow students. students can buy or exhchage text books from other studensts in thier campus or other cuny colleges.</p>
        <div>
        {{#if status}}
            <div class="alert alert-success">
              <strong>{{status.title}}</strong> {{status.msg}}
            </div>
        {{/if}}
        <form class="form-horizontal" role="form" action="/book/search" method="POST"> 
                <div class="form-group">
                    <label for="tirle" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" id="email" placeholder="Title" class="form-control">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="tirle" class="col-sm-3 control-label">ISBN</label>
                    <div class="col-sm-9">
                        <input type="text" name="isbn" id="email" placeholder="ISBN #" class="form-control">
                    </div>
                </div>  
                <div class="form-group">
                    <div class=" ">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </div>
                </div>
            </form> <!-- /form --> 
        </div>
  </div>
</div>