<div class="container">

    <div class="alert alert-success">
        {{#if user}}
            <p>The current user login is: {{user.fullName}}</p>
        {{else}}
            <p>You are not login yet. </p>
        {{/if}}
    </div>
    
	<div class="jumbotron">
        <h1 class="display-3">Welcome to Cuny Books</h1>
        <p class="lead">Cuny books is a place where all cuny studenst can find affordable textbooks from their fellow students. students can buy or exhchage text books from other studensts in thier campus or other cuny colleges.</p>
        <div>
        {{#if status}}
            <div class="alert alert-success">
              <strong>{{status.title}}</strong> {{status.msg}}
            </div>
        {{/if}}
        <form class="form-horizontal" role="form" action="/book/searchAll" method="POST"> 
                <input type="text" name="title" placeholder="Title Or ISBN" class="form-control"><br>
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form> <!-- /form -->
        </div>
  </div>
</div>