<div class='container'>
    {{!-- left side of the page --}}
    <div class='col-sm-9'> 
        <form class="form-horizontal" role="form" action="/book/new" method="POST"> 
            <h3 class="display-3">Add Books Below</h3> <br>
            <div class="form-group">
                <label for="tirle" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" name="title" id="email" placeholder="Title" class="form-control">
                </div>
            </div> 
            <div class="form-group">
                <label for="isbn" class="col-sm-3 control-label">ISBN</label>
                <div class="col-sm-9">
                    <input type="text" name="isbn" id="email" placeholder="ISBN #" class="form-control">
                </div>
            </div>  
            <div class="form-group">
                <label for="author" class="col-sm-3 control-label">Author</label>
                <div class="col-sm-9">
                    <input type="text" name="author" id="author" placeholder="Author" class="form-control">
                </div>
            </div>  
            <div class="form-group">
                <label for="edition" class="col-sm-3 control-label">Edition</label>
                <div class="col-sm-9">
                    <input type="text" name="edition" id="edition" placeholder="Edition" class="form-control">
                </div>
            </div>  
            <div class="form-group">
                <label for="price" class="col-sm-3 control-label">Price</label>
                <div class="col-sm-9">
                    <input type="text" name="price" id="email" placeholder="Price $" class="form-control">
                </div>
            </div>  
            <div class="form-group">
                <label for="quantity" class="col-sm-3 control-label">Quantity</label>
                <div class="col-sm-9">
                    <input type="text" name="quantity" id="quantity" placeholder="Quantity" class="form-control">
                </div>
            </div>  
            <div class="form-group">
                <label for="major" class="col-sm-3 control-label">Major Field</label>
                <div class="col-sm-9">
                    <select id="major" name="major" class="form-control">
                        <option></option>
                        {{#each majors}}
                            <option>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div> 
            <div class="form-group"> 
                <div class="col-sm-9">
                    <input type="hidden" name="owner" id="owner" value="{{user.fullName}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class=" ">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
        </form> <!-- /form --> 
    </div>   
    
</div>
