<div><a href="/user/dashboard"><span class='glyphicon glyphicon-arrow-left'></span>Back</a></div>
Search Results:
<div>
{{#if status}}
    <div class="alert alert-success">
      <strong>{{status.title}}</strong> {{status.msg}}
    </div>
{{/if}}
{{showBooks results}}
</div>