

<div class="signup-content">
    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    {{/if}}
    {{#if status}}
            <div class="alert alert-danger">
              <strong>{{status.title}}</strong> {{status.msg}}
            </div>
    {{/if}}
    <div class="signup-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 field-box">
                   <div class="signup-form">
                        <form method="POST" action="/user/new" role="form signup">
                        <div class="form-group">
                            <h2>Create account</h2>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="fullName">Full Name</label>
                            <input id="firstName"  type="text" name="fullName" placeholder="Last Name, First Name" class="form-control">
                            <span class="help-block">Example: Smith, Harry</span>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" name="email"  placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="country" class="control-label">College</label>
                            <select id="college" name="college" class="form-control"> 
                                <option>-- Select College --</option>
                                <option>City College</option>
                                <option>City Tech</option>
                                <option>Hunter College</option>
                                <option>York College</option>
                                <option>John Jay College</option>
                                <option>Brooklyn College</option>
                                <option>Queens College</option>
                                <option>York College</option>
                            </select>
                        </div> 
                         <div class="form-group">
                            <label for="major" class="control-label">Major</label>
                            <select id="major" name="major" class="form-control">
                                <option>-- Select Major --</option>
                                {{#each majors}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div> 
                        <div class="form-group">
                            <button type="submit" class="btn signup-btn">Create your account</button>
                        </div>
                        <p class="etc-signup">By creating an account, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
                        <p class="etc-signup">Already have an account? <a href="/user/login">Sign in</a></p>
                    </form>
                   </div>
                </div>
            </div>  
        </div>
    </div>
</div>
