*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

.min-search-bar {
  text-align: center;
}

.min-search-bar:before {
  display: run-in;
  content: 'Search: ';
}

.search {
  width: 60%;
  margin: 0px 20px;
}

.min-search-bar {
  border: 2px solid black;
  padding: 20px 0px;
}

.min-search-bar > button {
  background-color: white;
  border: 1px solid black;
}
.content-block {
  min-height: 200px;
}
.info-block {
  padding: 20px 0px;
  min-height: 20px;
  margin: 10px 0px;
  border: 2px solid black;
}
.listing-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listing-title:hover {
  cursor: default;
}
.my-listing > div, .my-listing > div:hover {
  background-color: transparent;
  color: black;
}
.listbook-btn {
  width: 100%;
  margin-top: 15px;
 
}  
.formhorizontal{
  display: none;
}   
} 
 
.formhorizontal{
  display: none;
}  


/****** header *****/
.navbar {
    margin-bottom: 0px !important;
    letter-spacing: 1px;
    border-radius: 0;
}

.ul.nav navbar-nav {
  padding-bottom: 10px;
}
.navbar li a, .navbar .navbar-brand {
    font-weight: bold;
    color: #5b5b5b !important;
}
 
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #333435 !important;
}

/****** footer *****/
.navbar-fixed-bottom {
  padding-top: 15px;
}

/****** Index *****/
/* background setup */
.background {
    background-repeat:no-repeat;
    background-position: 60% 20%;
    background-image:url('/images/books.jpg');
}

/* fullscreen setup */
html, body {
   /*give this to all tags from html to .fullscreen */
  height:100%;
}

.fullscreen {
  width: 100%;
  height: 90%;
}


#searchbar {
  padding-top: 110px;
}

#searchbar h1 {
  font-size: 78px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #333435;
  text-align: center;
  padding-bottom: 10px;
}

#searchbar > div > div > form > div > input:focus {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


/****** About *****/
.banner {
  height: 100%;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(to bottom,#09f,#246dff);
}

.banner-title {
  text-align: center;
  padding: 100px 0 120px
}

.about h1 {
  font-size: 54px;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin: 0 0 30px;
}

.banner-description {
  max-width: 1000px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: .2px;
  margin: 0 auto;
}

.team {
  height: 600px;
}

.developers {
  text-align: center;
  padding: 65px 0px 10px;
}

.developers h1 {
  padding-top: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 40px;
}

.carousel {
  padding: 70px 0px 100px;
}

.carousel-inner {
  margin-bottom: 60px;
}

.carousel-indicators.active {
  color: black !important;
  border: 1px solid gray !important;
}

.carousel-indicators li {
  background-color:  #1d74ff !important;
  border: 1.5px solid #1d74ff !important;
}

.member-intro {
  text-align: justify;
  max-width: 500px;
  padding-top: 12px;
  line-height: 1.75;
}

.carousel-control.left,.carousel-control.right {
  color: #1b67ff;
  padding-top: 115px;
  font-size: 40px;
  background-image:none !important;

}

.carousel-control.right:hover, .carousel-control.left:hover {
  color: #1d74ff;
}
 

/****** Contact page *****/

.img-responsive {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 10px;
}
.contact-form-top {
  overflow: hidden;
  padding: 0px 25px 0px 25px;
  text-align: left;
}
.contact-form {
  margin-left: 10px;
}
.required {
  color: red;
}

#contact-button {
 
 
  width: 100px; 
 
  width: 100px;  
} 
}

.form-group.clearfix {
  padding-bottom: 40px;
} 
